h1.flashy {
  font-style: italic;
  color: red;
}

h2.flashy {
  font-style: italic;
  color: red;
}

p.flashy {
  font-style: italic;
  color: red;
}

ul.flashy {
  font-style: italic;
  color: red;
}