h1.flashy {
  font-style: italic;
  color: red;
}

h2.flashy {
  font-style: italic;
  color: red;
}

p.best {
  font-style: italic;
  color: red;
}

ul.flashy {
  font-style: italic;
  color: red;
}

img {
  border: 2px solid red;
  border-radius: 8px;
  width: 200px;
}